/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./app/(pages)/examples/_components/ResponsiveExample/ResponsiveExample.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ResponsiveExample_container__SSH5E {
  width: 100%;
  padding: var(--medium-spacer);
  display: flex;
  flex-direction: row;
  gap: var(--small-spacer);
}
@media screen and (max-width: 760px) {
  .ResponsiveExample_container__SSH5E {
    flex-direction: column;
    gap: var(--spacer);
  }
}
.ResponsiveExample_container__SSH5E .ResponsiveExample_group__UGgg4 {
  width: calc(50% - var(--small-spacer) / 2);
  display: flex;
  flex-direction: column;
  gap: var(--spacer);
}
@media screen and (max-width: 760px) {
  .ResponsiveExample_container__SSH5E .ResponsiveExample_group__UGgg4 {
    width: 100%;
  }
}
.ResponsiveExample_container__SSH5E .ResponsiveExample_group__UGgg4 > div {
  height: 100px;
  width: 100%;
  background-color: gray;
  border: solid 2px black;
  border-radius: var(--b-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./app/(pages)/examples/page.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

